################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.vs/IntroToGame/v16/Browse.VC.opendb
